
body {
    font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
    font-size: 9pt;
}

.one-sample {
    display: none;
}

.heading {
    margin-left: 5.5%;
}

.left-container {
    padding-left: 0;
}

.elem-width {
    width: 100%;
    margin-top: 8%;
}

.samples-container, .rna-transcriptions-container {
    padding-left: 0;
    height: 100%;
    border-right: 1px solid black;
}

.samples, .rna-results {
    height: 80%;
    margin-top: 1%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.col-sm-3, .col-sm-5, .col-sm-12 {
    padding-left: 0px;
}

.sample-ids, .transcriptions-ids {
    overflow: auto;
}

.loading { 
    display:none;
    padding-left: 50px;
}

.loading img {
    width: 20px;
    height: 20px;
    margin-top: 1%;
}

.rna-filter, .filter-operator {
    display: inline-block;
    width:29%;
    margin-top: 4%;
}

.file-sample {
    cursor: pointer;
}

.filter-operator, .matrix-loading {
    display: none;
}

.matrix-loading {
    padding: 1% 0 0 35%;
}

.filter-value {
    display: inline-block;
    width: 40%;
}

.first-gene {
    height: 100%;
    border-right: 1px solid black;
    overflow: visible;
}

.pair-mouseenter {
    background-color: #dfe3ee;
    cursor: pointer;
}

.rna-summary {
    margin-top: 2%;
}

.rna-footer {
    padding-top: 2%;
}

#rna-gene1, #rna-gene2 {
    height: 50%;
    width: 100%;
    border-bottom: 1px solid black;
    overflow: auto;
}

#rna-type1, #rna-type2 {
    overflow: auto;
    height: 50%;
    width: 100%;
}

.samples-overlay {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    z-index: 1;
}




