
body {
    font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
    font-size: 9pt;
}

.row {
    margin: 0 -5% 0 -5%;
}

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4,
.col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,
.col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    padding-left: 0px;
}

.rna-header-row {
    margin: 0 -7.9%;
}


.rna-header {
    background-color: #2c3143;
    color: white;
    padding-left: 2.5%;
    cursor: pointer;
}

.one-sample,
.loading-samples,
.sample-ids {
    display: none;
}

.heading {
    margin-left: 5.5%;
}

.left-container {
    padding-left: 0;
}

.elem-width {
    margin-top: 0.5%;
}

.samples-container,
.rna-transcriptions-container {
    padding-left: 0;
    height: 100%;
    border-right: 1px solid black;
}

.samples {
    height: 80%;
    border-bottom: 1px solid black;
}

.loading-samples {
    margin: 1.5% 0 0 25%;
}

.rna-results {
    height: 72%;
    margin-top: 1%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.sample-ids, .transcriptions-ids {
    overflow: auto;
    padding-top: 2%;
    height: 99%;
}

.sample-name {
    margin-top: 1%;
    font-weight: bold;
}

.loading { 
    display:none;
    padding-left: 50px;
}

.rna-filter, .filter-operator {
    display: inline-block;
    width:29%;
}

.file-sample {
    cursor: pointer;
}

.sample:hover {
    background-color: #337ab7;
    color: white;
    font-weight: bold;
}

.sample-current-size {
    font-size: 8pt;
}

.filter-operator, .matrix-loading {
    display: none;
}

.matrix-loading {
    padding: 1% 0 0 35%;
}

.filter-value {
    display: inline-block;
    width: 40%;
}

.first-gene {
    height: 100%;
    border-right: 1px solid black;
    overflow: auto;
}

.second-gene {
    height: 100%;
    overflow: auto;
}

.pair-mouseenter {
    background-color: #337ab7;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.btn-rna {
    font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
    font-size: 9pt;
    margin: 0.5% 0 0 0.3%;
}

.sample-summary {
    margin-top: 1%;
}


#info-gene1, #info-gene2 { padding-top: 2%; }
#info-gene1 ul li p { padding: 1%; border-left: 1px solid black; font-size: 11pt; }
#info-gene2 ul li p { padding: 1%; border-left: 1px solid black; font-size: 11pt; }

.samples-overlay {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    z-index: 1;
}

.rna-footer {
    margin-left: 45%;
}

.rna-footer a {
    color: black;
}
